/* Base Application Styles */
body, html {
  width: 100%;
  height: auto;
  background: #dddddd;
}
.stage {
  position: relative;
  width: 100%;
  height: auto;
}
.img-section {
  position: relative;
  width: 100%;
  height: auto;
  background: #dddddd;
}
.img-item {
  position: absolute;
  width: 320px;
  padding: 40px;
  background: #ffffff;
  box-sizing: border-box;
}
.img-item img {
  width: 240px;
}
