/* Base Application Styles */
* {
  transition: all 300ms ease-in;
}
body, html {
  width: 100%;
  height: auto;
  background: #dddddd;
}
.stage {
  position: relative;
  width: 100%;
  height: auto;
}
.img-section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: auto;
  background: #dddddd;
}
.img-item {
  width: 280px;
  padding: 40px;
  margin: 20px 0 0 20px;
  background: #ffffff;
  box-sizing: border-box;
  float: left;
}
.img-item img {
  width: 200px;
}
